body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #18181B;
    color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.chat-messages p {
    margin-bottom: 5px;
    padding: 5px 8px;
    border-radius: 3px;
    display: block;
    clear: both;
    word-break: break-word;
    font-size: 14px;
}

.chat-messages .username {
    font-weight: bold;
    color: #9147FF;
    margin-right: 5px;
}

.input-area {
    display: flex;
    padding: 5px;
    background-color: #28282B;
    border-radius: 5px;
    border: 1px solid #3B3B3F;
}

.input-area input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #121214;
    color: #FFFFFF;
}

.input-area input::placeholder {
    color: #8D8D8F;
}

.input-area button {
    padding: 8px 15px;
    background-color: #9147FF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
